body {
    background-color: darkgray;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2em;
    cursor: pointer;
    border-radius: 5px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    position: relative;
    height: 140px;
}

.flex-container::after {
    height: 100%;
}

.flex-item {
    background: white;
    margin: 2px;
    color: white;
    border: grey 1px solid;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    flex: 1;
}

.empty-node {

    margin: 2px;
    color: grey;
    font-weight: bold;
}

.child-item {
    background: tomato;
    margin: 2px;
    color: white;
    border: grey 1px solid;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.child-item:before {
    content: "";
    display: block;
}

#input-container {
    margin: 1rem;
}

#numberInput {
    border: grey 1px solid;
    height: 3rem;
    width: 20em;
    border-radius: 3px;
}

.input-item {
    margin: 10px 10px 10px 0px;
    font-weight: bold;
    font-size: 1.5em;
    color: gray;
    flex: 1;
}

.mainbody {
    margin-top: 0;
    color: grey;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, lfr) !important;
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 500px;
}

.header {
    height: 40px;
    border-bottom: 1px solid #EEE;
    background-color: plum;
    height: 40px;
    line-height: 2em;
    padding-right: 10px;
    text-align: right;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

[data-tooltip]:before {            
    position : absolute;
     content : attr(data-tooltip);
     color: black;
     opacity : 0;
     top: 50%;
     z-index: 1;
}

[data-tooltip]:hover:before {        
    opacity : 1;
}
